{% load staticfiles %}
<html>
    <head>
        <title>Yoyo</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="page-header">
            <h1><a href="https://www.youtube.com/watch?v=bddoo38vsH8">Yoyo, a kaméleon</a></h1>
            <h2><a href="http://www.chameleonfarm.hu/index.html/" target: "_blank">avagy zöld alapon barna, kék vagy mégis zöld?!!</a></h2>
<p>A sisakos kaméleon Jemen és Szaúd-Arábia Vörös-tenger menti hegyeiben, félsivatagokban, cserjés-fás területeken, vagy akár öntözött kertekben él. A többi kaméleonhoz hasonlóan a fák ágai között mozog. Nappali állatok. Bár elsősorban rovarevők, étrendjüket időnként kiegészítik falevéllel, gyümölcsökkel és bimbókkal is. Zsákmányát lesből, rendkívül hosszú nyelvének gyors kiöltésével és a rovar megragadásával fogja el. Vízszükségletét a leveleken található cseppekből elégíti ki, az álló vízfelületet fel sem ismeri és ha a terráriumban csak ilyen áll rendelkezésére, akkor kiszáradhat.</p>

<p2 id="demo"></p2>

<button type="button"
onclick="document.getElementById('demo').innerHTML = 'Gyík vagy! :D'">
Nyomjad!!!</button>


<p class="dotted">A kaméleonok furcsa lények, sose packázz velük!!</p>
        </div>

    </body>
</html>
