    body {
    background-color: #99e5ce;
}
    .page-header {
        background-color: #99e5ce;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #2a0fa1;
        font-size: 36pt;
        text-decoration: underline;
    }

    .content {
        margin-left: 40px;
        background-color: #ccff99;
        color: #000000;
        font-family:"Courier New", Courier, monospace;
    }
    a:link {
    color: yellow;
    }

/* visited link */
    a:visited {
    color: #015873;
    }
/* mouse over link */
    a:hover {
    color: #fb0a5a;
    }

    p {
        background-color: #fbac33;
        width: 500px;
        padding: 30px;
        border: 5px solid #e91e63;
        margin: 30px;
        color: #000000;
        font-family: monospace;
        font-weight: bold;
    }
    button {
      font-style: oblique;
      background-color: #f50e44;
      color: #63e91e;
      font-weight: bold;
      font-family: cursive ;


    }
    p.dotted {
      border-style: dotted;
    color:#fb0a5a;
  }


    .h1 {
      font-family: 'Impact', Charcoal, sans-serif;
      font-size: 35px;
     }
    .h2{
       font-family: 'Impact', Charcoal, sans-serif;
       font-size: 22px;
      }

    .h3 {
        background-color: #b0c4de
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        color: #ffffff;
        font-stretch: ultra-condensed;
    }




    .date {
       float: right;
       color: #828282;
   }

   .save {
       float: right;
   }

   .post-form textarea, .post-form input {
       width: 100%;
   }

   .top-menu, .top-menu:hover, .top-menu:visited {
       color: #ffffff;
       float: right;
       font-size: 26pt;
       margin-right: 20px;
   }
   .post {
           margin-bottom: 70px;
       }

       .post h1 a, .post h1 a:visited {
           color: #000000;
       }
